# Building dataset

In [1]:
import pandas as pd
import Quandl

In [37]:
# api_key = "zbuPWr3CoQXjNje1Z2qX"

# df = Quandl.get("FMAC/HPI_AK",authtoken = api_key)

# df.head()

            NSA Value   SA Value
Date
1975-01-31  34.427647  34.604936
1975-02-28  34.898074  35.035870
1975-03-31  35.384843  35.407964
1975-04-30  35.913989  35.784216
1975-05-31  36.534766  36.228856

In [38]:
# df.drop(columns='NSA Value' ,inplace=True)
# df.rename(columns={"SA Value":"AK"},inplace=True)
# df.head()
# df.to_csv("housing_price.csv")
# df.size
# df.columns.size

In [39]:
# states = pd.read_html('https://www.yourdictionary.com/articles/state-abbreviations')

# # print(states) -> list of data frames
# # print(states[0]) -> single data frame
# # print(states[0][1]) -> single column of that dataframe
# main_df = pd.DataFrame()
# for abbv in states[0][1][1:]:
#     query = "FMAC/HPI_"+str(abbv)
#     df = Quandl.get(query , authtoken = api_key)
    
#     if main_df.empty:
#         main_df = df
#     else:
#         main_df = main_df.join(df)
        
# print(main_df.head())

Demo on concatination

In [4]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])


concat = pd.concat([df1,df2])
print(concat)

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [5]:
# df4 = df1.append(df2)
# print(df4) -> depricated

In [6]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [11]:
print(pd.merge(df1 , df2 , on=['HPI' , 'Int_rate','US_GDP_Thousands'])) #merging all three cols

   HPI  Int_rate  US_GDP_Thousands
0   80         2                50
1   85         3                55
2   88         2                65
3   85         2                55

In [20]:
df1.set_index('HPI',inplace=True)
df3.set_index("HPI",inplace=True)
# print(df1.head())
# df3.set_index('HPI')

In [24]:
joined = df1.join(df3)
print(joined) # join by default occur based on index

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

In [33]:
df1 = pd.DataFrame({'Year':[2001, 2002, 2003, 2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})


df3 = pd.DataFrame({'Year':[2001, 2003, 2004, 2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})

merged = pd.merge(df1 , df3 , on='Year',how='left')
# merged.set_index('Year' , inplace = True)
print(merged)

   Year  Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0  2001         2                50           7.0          50.0
1  2002         3                55           NaN           NaN
2  2003         2                65           8.0          52.0
3  2004         2                55           9.0          50.0